<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[#{home.title}]]</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 text-begin">
            <a href="?lang=ua"
               th:class="__${#locale}__=='en'?'btn-outline-secondary btn btn-sm':'btn-outline-primary btn btn-sm'">[[#{lang.ua}]]</a>
            <a href="?lang=en"
               th:class="__${#locale}__=='ua'?'btn-outline-secondary btn btn-sm':'btn-outline-primary btn btn-sm'">[[#{lang.en}]]</a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/}" class="nav-link px-2 link-primary">[[#{menu.home}]]</a></li>
            <li><a th:href="@{/common/service}" class="nav-link px-2 link-dark">[[#{menu.services}]]</a></li>
            <li><a th:href="@{/common/price}" class="nav-link px-2 link-dark">[[#{menu.pricing}]]</a></li>
            <li><a th:href="@{/common/about}" class="nav-link px-2 link-dark">[[#{menu.about}]]</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a th:href="@{/user/logout}" class="btn btn-outline-primary">[[#{menu.logout}]]</a>
        </div>
    </header>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">

    <!--/*@thymesVar id="message" type="java.lang.Boolean"*/-->
    <div th:if="${message}">
        <p class="fs-2 text-center text-success">[[#{ride.done}]]</p>
        <hr/>
    </div>

    <!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
    <div th:if="${error}">
        <p class="fs-2 text-center text-primary">[[#{ride.error}]]</p>
        <hr/>
    </div>

    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">[[#{ride.title}]]</h1>
            <p class="col-lg-10 fs-4">[[#{ride.p1}]]</p>
            <p class="col-lg-10 fs-4">[[#{ride.p2}]]</p>
            <p class="col-lg-10 fs-4">[[#{ride.p3}]]</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form th:object="${order}" th:action="@{/order/save}" method="post"
                  class="needs-validation p-4 p-md-5 border rounded-3 bg-light" novalidate="">
                <div class="form-floating mb-3">
                    <input th:field="*{addressFrom}" value="Test" type="text" class="form-control" id="address"
                           name="address" placeholder="&nbsp;" required>
                    <label for="address">[[#{ride.from}]]</label>
                    <div class="invalid-feedback">
                        [[#{ride.from.feedback}]]
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{addressTo}" type="text" class="form-control" id="destination" name="destination"
                           placeholder="&nbsp;" required>
                    <label for="destination">[[#{ride.to}]]</label>
                    <div class="invalid-feedback">
                        [[#{ride.to.feedback}]]
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{passengers}" type="number" class="form-control" id="passengers" name="passengers"
                           placeholder="&nbsp;" required>
                    <label for="passengers">[[#{ride.count}]]</label>
                    <div class="invalid-feedback">
                        [[#{ride.count.feedback}]]
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <select th:field="*{category}" class="form-control" id="category" name="category">
                        <option value="0" th:selected="${order.category == 0}">[[#{car.category.standard}]]</option>
                        <option value="1" th:selected="${order.category == 1}">[[#{car.category.business}]]</option>
                        <option value="2" th:selected="${order.category == 2}">[[#{car.category.luxury}]]</option>
                    </select>
                    <label for="category">[[#{ride.category}]]</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">[[#{ride.submit}]]</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/taxi.js"></script>

</body>
</html>



